html{
	height: 100%;
	}

body {
	/*background-color: white;*/
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
}

#beginning {
	position: relative;
	width: 450px;
	/*height: 450px;*/
	min-height: 100%;
	left: 50%;
	/*top: 50%;*/
	margin-right: -250px;
	margin-left: -250px;
	text-align: center;
}

#beginning h1 {
	text-align: center;
	color: #6A5ACD;
	font-size: 75px;
}

#beginning img {
	border-radius: 100%;
	border: 5px solid #black;
	width: 100%;
	max-width: 200px;
	vertical-align: center;
}

 h3 {
	color: blue;
	text-align: center;
}

#beginning h4 {
	color: red;
	text-align: center;
}

#beginning p {
	text-align: center;
}

ul {
	display: table;
	margin:0 auto;
}

#background {
	position: relative;
	width: 450px;
	/*height: 450px;*/
	left: 50%;
	/*top: 50%;*/
	margin-right: -250px;
	margin-left: -250px;
	text-align: center;
}

#education {
	position: relative;
	width: 450px;
	height: 450px;
	left: 50%;
	/*top: 50%;*/
	margin-right: -250px;
	margin-left: -250px;
	text-align: center;
}

#skills {
	position: relative;
	width: 450px;
	height: 450px;
	left: 50%;
	/*top: 50%;*/
	margin-right: -250px;
	margin-left: -250px;
	text-align: center;
}

#contact {
	position: relative;
	width: 450px;
	height: 450px;
	left: 50%;
	/*top: 50%;*/
	margin-right: -250px;
	margin-left: -250px;
	text-align: center;
}

nav.main {
	height: 100px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

nav.main ul {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
	display: block;
	border-top: 1px solid #E6E0CB;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

nav.main li {
   display:inline-block;
   *display:inline; /*IE7*/
   *zoom:1; /*IE7*/
   margin-right: 20px;
	padding-bottom: 0px;
}

nav.main a {
	display: block;
	color: #black;
	text-transform: uppercase;
	padding-top: 28px;
	padding-bottom: 0px;
	border-top: 2px solid transparent;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
}

nav.main a:hover {
	border-top: 2px solid #E6E0CB;
}
