body {
	background-color: #ecf0f1;
	font-family: 'Source Sans Pro', sans-serif;
}

#MyWebsite {
	max-width: 50vw;
	padding: 20px;
	background-color: white;
	box-shadow: 5px 5px rgba(0,0,0,0.1);
}

img {
	border-radius: 100%;
	border: 5px solid #black;
	width: 100%;
	max-width: 150px;
}